aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asciinema==2.1.0
async-timeout==5.0.1
attrs==26.1.0
blinker==1.9.0
certifi==2026.2.25
chardet==4.0.0
charset-normalizer==2.0.6
click==8.3.2
cryptography==3.4.8
dbus-python==1.2.18
deepmerge==1.1.1
defusedxml==0.7.1
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.8.0
exceptiongroup==1.3.1
fastapi==0.135.3
Flask==3.1.3
frozenlist==1.8.0
h11==0.16.0
httpcore==1.0.9
httpie==2.6.0
httplib2==0.20.2
httpx==0.28.1
idna==3.3
ifaddr==0.2.0
importlib-metadata==4.6.4
itsdangerous==2.2.0
jeepney==0.7.1
Jinja2==3.1.6
json5==0.12.1
jsonschema==4.17.3
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
MarkupSafe==3.0.3
more-itertools==8.10.0
multidict==6.7.1
oauthlib==3.2.0
propcache==0.4.1
py_eureka_client==0.13.3
pydantic==2.13.0
pydantic_core==2.46.0
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
pyrsistent==0.20.0
PySocks==1.7.1
python-apt==2.4.0+ubuntu4.1
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.33.1
requests-toolbelt==0.9.1
SecretStorage==3.3.1
six==1.16.0
ssh-import-id==5.11
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
unattended-upgrades==0.1
urllib3==1.26.5
uvicorn==0.44.0
wadllib==1.3.6
Werkzeug==3.1.8
yarl==1.23.0
zipp==1.0.0
zowe-apiml-onboarding-enabler-python==3.2.4
zowe-python-sdk-bundle==1.0.0.dev26
zowe_core_for_zowe_sdk==1.0.0.dev26
zowe_workflows_for_zowe_sdk==1.0.0.dev26
zowe_zos_console_for_zowe_sdk==1.0.0.dev26
zowe_zos_files_for_zowe_sdk==1.0.0.dev26
zowe_zos_jobs_for_zowe_sdk==1.0.0.dev26
zowe_zos_tso_for_zowe_sdk==1.0.0.dev26
zowe_zosmf_for_zowe_sdk==1.0.0.dev26