aiohttp
fastapi
py_eureka_client
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.33.1
typing-inspection==0.4.2
typing_extensions==4.15.0
unattended-upgrades==0.1
urllib3==1.26.5
uvicorn==0.44.0
zowe-apiml-onboarding-enabler-python
zowe-python-sdk-bundle
zowe_core_for_zowe_sdk
zowe_workflows_for_zowe_sdk
zowe_zos_console_for_zowe_sdk
zowe_zos_files_for_zowe_sdk
zowe_zos_jobs_for_zowe_sdk
zowe_zos_tso_for_zowe_sdk
zowe_zosmf_for_zowe_sdk